# Data Preprocessing & Wrangling
##### 1. What is Data Preprocessing & Wrangling?
Data Preprocessing: The process of transforming raw data into a clean dataset. It prepares data for analysis or modeling.

Data Wrangling (Data Munging): The process of cleaning, restructuring, and enriching raw data into a desired format.

##### Why important?
Raw data is messy: contains missing values, duplicates, inconsistent formats, noise, etc.
Models need clean and well-structured data for accurate predictions.

##### 2. Steps & Techniques of Data Preprocessing & Wrangling

##### 2.1 Import Libraries
You use libraries like pandas and numpy for data manipulation, and scikit-learn for machine learning utilities like scaling and encoding.

In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

##### 2.2 Loading Data
You must first load your dataset into a DataFrame (a tabular data structure) from CSV, Excel, SQL, or other sources.

* pd.read_csv() reads CSV files.

* Data can come from many sources, and pandas supports many formats.

In [12]:
df = pd.read_csv(r"C:\Users\ashid\Downloads\archive (5)\creditcard.csv")
# or for Excel:
# df = pd.read_excel('your_data.xlsx')

##### 2.3 Understanding the Dataset
Before cleaning, understand the structure and content:

* head() shows sample rows to peek at data.

* info() reveals column types and missing values.

* describe() gives statistical summaries of numerical columns.

* shape gives dataset size (rows, columns).

* Understanding the data helps decide what cleaning is necessary.

In [18]:
df.head()         # First 5 rows

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [20]:
df.tail()         # Last 5 rows

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [22]:
df.info()         # Data types & non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [24]:
df.describe()     # Summary statistics of numerical columns

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [25]:
df.columns        # Column names

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [28]:
df.shape          # Rows, Columns

(284807, 31)

In [30]:
df.dtypes         # Data types of column

Time      float64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
dtype: object

##### 2.4 Handling Missing Data
Missing values are common and must be handled, because many models canâ€™t handle them directly.

* You identify missing data using .isnull() or .isna().

* You can either remove rows or columns with missing values if they are too sparse or irrelevant.

* Alternatively, you impute (fill) missing values with:

  Mean (average) for numerical columns.

  Median (less sensitive to outliers) for skewed numerical data.

  Mode (most frequent) for categorical columns.

  Or a constant value.

* Imputation avoids losing too much data and maintains dataset size.

In [36]:
#Detect missing values:
df.isnull().sum()              # Count missing per column
df.isnull().mean() * 100       # % missing per column

Time      0.0
V1        0.0
V2        0.0
V3        0.0
V4        0.0
V5        0.0
V6        0.0
V7        0.0
V8        0.0
V9        0.0
V10       0.0
V11       0.0
V12       0.0
V13       0.0
V14       0.0
V15       0.0
V16       0.0
V17       0.0
V18       0.0
V19       0.0
V20       0.0
V21       0.0
V22       0.0
V23       0.0
V24       0.0
V25       0.0
V26       0.0
V27       0.0
V28       0.0
Amount    0.0
Class     0.0
dtype: float64

In [38]:
#Remove missing values:
df.dropna(inplace=True)        # Drop rows with any missing values
df.dropna(axis=1, inplace=True) # Drop columns with any missing values
df.dropna(thresh=10, inplace=True)  # Drop rows with less than 10 non-NA values

In [ ]:
# Fill missing values (Imputation):
# For numerical columns: mean, median, mode, constant
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Age'].fillna(df['Age'].median(), inplace=True)

# For categorical columns: mode
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

# Using SimpleImputer
imputer = SimpleImputer(strategy='mean')
df['Age'] = imputer.fit_transform(df[['Age']])

imputer_cat = SimpleImputer(strategy='most_frequent')
df['Gender'] = imputer_cat.fit_transform(df[['Gender']])

##### 2.5 Handling Duplicates
Duplicate rows can skew your analysis.

* Detect duplicates with .duplicated().

* Remove them using .drop_duplicates().

* This ensures each data point is unique.

In [44]:
df.duplicated().sum()         # Count duplicates
df.drop_duplicates(inplace=True)  # Drop duplicates

##### 2.6 Data Type Conversion
Data might be loaded in wrong types:

* For example, numbers as strings, or dates as strings.

* Converting columns to correct types (int, float, datetime, category) is important for analysis and applying transformations.

For instance:

* Dates can be converted to datetime type to extract year, month, day.

* Categories are converted to category datatype to save memory and enable categorical methods.

In [ ]:
df['Age'] = df['Age'].astype(int)            # float to int
df['Date'] = pd.to_datetime(df['Date'])      # string to datetime
df['Category'] = df['Category'].astype('category')  # convert to category type

##### 2.7 Handling Outliers
Outliers are extreme values that can distort statistical analysis and models.

* Detect them using IQR (Interquartile Range) or Z-score methods.

* IQR method considers values outside 1.5 * IQR below Q1 or above Q3 as outliers.

* Z-score method considers values beyond 3 standard deviations from the mean as outliers.

Handling outliers:

* Remove outliers to clean dataset.

* Cap/Floor the outliers to threshold values (Winsorizing) to reduce their effect without losing data.

In [ ]:
#Detect Outliers using:
#IQR method:
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df['Salary'] < Q1 - 1.5 * IQR) | (df['Salary'] > Q3 + 1.5 * IQR)]

In [ ]:
#Z-score method:
from scipy import stats
z_scores = np.abs(stats.zscore(df['Salary']))
outliers = df[z_scores > 3]

In [ ]:
#Handle outliers by:

##Removing them:
df = df[(df['Salary'] >= Q1 - 1.5 * IQR) & (df['Salary'] <= Q3 + 1.5 * IQR)]

In [ ]:
##Capping/Flooring (Winsorization):
upper_limit = Q3 + 1.5 * IQR
lower_limit = Q1 - 1.5 * IQR
df['Salary'] = np.where(df['Salary'] > upper_limit, upper_limit, df['Salary'])
df['Salary'] = np.where(df['Salary'] < lower_limit, lower_limit, df['Salary'])

##### 2.8 Feature Scaling (Normalization & Standardization)
Different features often have different units and scales (e.g., salary in thousands, age in years).

* Many ML algorithms require features on a similar scale.

Normalization (Min-Max Scaling):

* Rescales feature values to a fixed range [0, 1].

* Sensitive to outliers.

Standardization (Z-score Scaling):

* Centers data to mean 0, standard deviation 1.

* More robust to outliers.

Choosing the scaler depends on the model and data distribution.

In [ ]:
#normalization (Min-Max Scaling): Rescales features to [0,1].
scaler = MinMaxScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

#Standardization (Z-score): Mean=0, Std=1
scaler = StandardScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

##### 2.9 Encoding Categorical Variables
Most ML models work with numbers, not text. So categorical features must be encoded.

* Label Encoding: Converts categories to integer labels (0,1,2...).
Useful only for ordinal data where order matters (e.g., low < medium < high).

* One-Hot Encoding: Converts categories into multiple binary columns (dummy variables).
Used for nominal data with no order (e.g., colors, cities).

One-hot encoding avoids introducing false ordinal relationships.

In [ ]:
#Label Encoding: Convert categories to numbers (only for ordinal data)
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

#One-Hot Encoding
df = pd.get_dummies(df, columns=['City', 'Department'], drop_first=True)

#Using sklearn OneHotEncoder:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse=False)
encoded_cols = encoder.fit_transform(df[['City']])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out())
df = pd.concat([df, encoded_df], axis=1).drop('City', axis=1)

##### 2.10 Handling Date and Time
Dates hold valuable information.

* Convert date strings to datetime format.

* Extract components like year, month, day, weekday.

* Create features like "Is weekend" to add more context for models.

Date features can improve time-related predictions.

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['DayOfWeek'] = df['Date'].dt.dayofweek
df['IsWeekend'] = df['DayOfWeek'].apply(lambda x: 1 if x >=5 else 0)

##### 2.11 Text Data Preprocessing (Basic)
Text data must be cleaned before analysis or NLP modeling.

* Convert to lowercase to standardize.

* Remove punctuation and numbers to reduce noise.

* Strip whitespace for uniformity.

Advanced NLP preprocessing includes tokenization, stop-word removal, stemming/lemmatization (not covered here).

In [ ]:
#Convert text to lowercase:
df['Review'] = df['Review'].str.lower()

#Remove punctuation:
df['Review'] = df['Review'].str.replace('[^\w\s]','', regex=True)

#Remove numbers:
df['Review'] = df['Review'].str.replace('\d+', '', regex=True)

#Remove leading/trailing spaces:
df['Review'] = df['Review'].str.strip()

##### 2.12 Handling Imbalanced Data
Classification problems sometimes have very skewed class distributions (e.g., 95% class A, 5% class B).

* Imbalanced data can bias models toward majority class.

* Methods to address:

    Random Oversampling: Duplicate minority class samples.

    Random Undersampling: Remove majority class samples.

    SMOTE: Synthetically create new minority samples.

Balancing data improves model's ability to learn minority class.

In [ ]:
#Check class balance:
df['target'].value_counts(normalize=True)

#Techniques to balance:

##Random Oversampling:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=42)
X_resampled, y_resampled = ros.fit_resample(X, y)

#Random Undersampling:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=42)
X_resampled, y_resampled = rus.fit_resample(X, y)

#SMOTE (Synthetic Minority Over-sampling Technique):
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

##### 2.13 Feature Engineering Basics
Creating new features from existing ones often improves model performance.

Examples:

* Calculating BMI from weight and height.

* Binning age into groups.

Feature engineering requires domain knowledge and creativity.

In [ ]:
#Create new features from existing data
df['BMI'] = df['Weight'] / ((df['Height']/100) ** 2)
df['AgeGroup'] = pd.cut(df['Age'], bins=[0,18,35,60,100], labels=['Child','YoungAdult','Adult','Senior'])

##### 2.14 Data Integration & Merging
Often, data comes from multiple sources.

* Use merge to combine datasets based on keys (like SQL joins).

* Use concat to stack datasets vertically (append rows) or horizontally (add columns).

Proper merging ensures you have all necessary information combined.

In [ ]:
#Combine datasets:
df_merged = pd.merge(df1, df2, on='key_column', how='inner')  # inner join
df_concat = pd.concat([df1, df2], axis=0)  # vertical concat

##### 2.15 Data Transformation
Applying mathematical functions (log, sqrt, square) can help normalize skewed data distributions.

* Log transform compresses large values.

* Useful for variables like income, population, sales which are skewed.

In [ ]:
#Apply mathematical functions:
df['Log_Salary'] = np.log(df['Salary'] + 1)
df['Square_Root_Age'] = np.sqrt(df['Age'])

##### 2.16 Removing Unwanted Columns
Remove columns that are irrelevant, redundant, or contain too many missing values.

* Reduces noise and model complexity.

In [ ]:
df.drop(['Unnecessary_Column1', 'Unnecessary_Column2'], axis=1, inplace=True)

##### 2.17 Renaming Columns
Clear, meaningful column names make data easier to understand and use.

In [ ]:
df.rename(columns={'OldName': 'NewName'}, inplace=True)

##### 2.18 Resetting Index
If you remove rows, index may become non-sequential.

* Reset index for clean dataset.

In [ ]:
df.reset_index(drop=True, inplace=True)

##### 2.19 Sampling Data
* Random sampling can reduce dataset size for faster analysis.

* Stratified sampling keeps target variable distribution same in train/test splits.

In [ ]:
#Random sampling:
df_sample = df.sample(frac=0.1, random_state=42)  # 10% sample

#Stratified sampling (using sklearn):
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2, stratify=df['target'], random_state=42)

##### 2.20 Saving Cleaned Data
After all preprocessing, save the clean dataset for modeling or sharing.

In [ ]:
df.to_csv('cleaned_data.csv', index=False)

| Subtopic              | Purpose/Why                                       |
| --------------------- | ------------------------------------------------- |
| Missing Data          | Handle incomplete data to avoid errors            |
| Duplicates            | Remove repeated entries to avoid bias             |
| Data Types            | Correct types to apply right operations           |
| Outliers              | Handle extreme values to avoid distortions        |
| Scaling               | Normalize feature scales for models               |
| Encoding              | Convert categorical data to numeric               |
| Date & Time           | Extract meaningful time features                  |
| Text Preprocessing    | Clean text for NLP or analysis                    |
| Imbalanced Data       | Balance classes for fair learning                 |
| Feature Engineering   | Create useful new features                        |
| Data Merging          | Combine data sources for complete info            |
| Data Transformation   | Adjust data distribution for better modeling      |
| Remove/Rename Columns | Clean dataset structure and improve clarity       |
| Sampling              | Efficient data subsets with correct distributions |
| Saving                | Preserve preprocessed data                        |